<div class="sidebar">
  <div class="container d-none d-md-block">
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <!--li><a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a></li-->
        <li><a class="sidebar-nav-item{% if page.url == site.dashboardUrl %} active{% endif %}" href="{{ site.dashboardUrl }}">COVID-19</a>
        <ul>
			<li><a href="#">Surveillance Dashboard</a></li>
			<li><a href="#">Imported Cases Dashboard</a></li>
			<li><a href="#">Datasets</a></li>
			<li><a href="#">News</a></li>
			<li><a href="#">Other Resources</a></li>
		</ul>
      <a class="sidebar-nav-item{% if page.url == site.aboutUrl %} active{% endif %}" href="{{ site.aboutUrl }}">About</a>
	  </ul>

    </nav>

    <div class="sidebar-sticky">
      <a href="https://biocomplexity.virginia.edu" target="_blank"><img src="images/bii_logo_v5-01.png" style="width: 70%; margin: 0;"></a>
      <p style="font-size: 15px;">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
   </div>
   <div class="container d-block d-md-none">
		
		
		<nav class="navbar navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="sidebar-about">
				<h2><a href="{{ site.baseurl }}">{{ site.title }}</a></h2>
				<div class="lead">{{ site.description }}</div>
			</div>
		</nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>		
		
   </div>
   
 
  
   
</div>
