<div class="sidebar">
   <div class="container">
      <div class="sidebar-about">
      <h2>
         <a href="{{ site.baseurl }}">
         {{ site.title }}
         </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
   </div>
   <nav id="menu" class="sidebar-nav sidebar_scroll">
<!-- 	  <label for="tm" id="toggle-menu">Menu <span class="drop-icon">▾</span></label> 
       <input type="checkbox" id="tm">   -->
      <ul class="main-menu clearfix">
         
          <li><p style="background-color: #232D4B; color: white; margin-bottom: 0.4rem; margin-top: 2rem;">Menu</p></li> 
<!--           <li><a class="sidebar-nav-item" href="https://nssac.github.io/">Home</a></li> -->
          <li>
<!--             <a href="https://nssac.github.io/dashboard"><label for="sm1" class="sidebar-nav-item" >COVID-19 Research  <span class="drop-icon">▾</span> <span><label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label></span></label> -->
             <a class="sidebar-nav-item" href="https://mehta-gaurav.github.io/covid-19/index">COVID-19 Research
 				<span class="drop-icon"></span>  
 				<span><label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label></span> 
	     </a>
	      <input type="checkbox" id="sm1">								   
          
               </li><li class="sub-menu">
                  <a href="http://nssac.bii.virginia.edu/covid-19/dashboard/" target="_blank">COVID-19 Surveillance Dashboard
  		     <span class="drop-icon"></span>  
		     <span><label title="Toggle Drop-down" class="drop-icon" for="sm2"></label></span> 
                  </a>
                 <input type="checkbox" id="sm2">
                       
<!-- 		    <li><a href="http://ncov.bii.virginia.edu/dashboard/">Dashboard</a></li> -->
                     </li><li class="sub-menu1"><a href="https://mehta-gaurav.github.io/covid-19/dashboard">About this dashboard</a></li>
                   	      
               
		<li class="sub-menu">
                  <a href="http://nssac.bii.virginia.edu/covid-19/cluster-dashboard/" target="_blank">COVID-19 Cases and Clusters Outside of China 
  		     <span class="drop-icon"></span>  
		     <span><label title="Toggle Drop-down" class="drop-icon" for="sm3"></label></span> 
                  </a>
                 <input type="checkbox" id="sm3">
                      
                     </li><li class="sub-menu1"><a href="https://mehta-gaurav.github.io/covid-19/covid-19_imported_cases">About this dashboard</a></li>
                  
	         
               <li class="sub-menu"><a href="https://mehta-gaurav.github.io/covid-19/data">Data</a></li>	
               <li class="sub-menu"><a href="https://mehta-gaurav.github.io/covid-19/publications">Publications &amp; Presentations</a></li>	      
<!--                <li><a href="https://nssac.github.io/covid-19/import_risk.html" target="_blank">Import Risk</a></li> -->
	       <li class="sub-menu"><a href="https://mehta-gaurav.github.io/covid-19/other_resources/">Useful Links</a></li>          
           
         
         <li><a class="sidebar-nav-item" href="https://biocomplexity.virginia.edu/nssac" target="_blank">About NSSAC</a></li>
         <li><a class="sidebar-nav-item" href="https://mehta-gaurav.github.io/contact_us">Contact Us</a></li>
      </ul>
   </nav>
   <div class="sidebar-sticky">
      <a href="https://biocomplexity.virginia.edu" target="_blank"><img src="https://mehta-gaurav.github.io/images/bii_logo_v5-01.png" class="logo" style="width: 65%; margin: 0;"></a>
      <p style="font-size: 15px;text-align: left; padding-left: 8px; margin-bottom: 10px;
">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
   </div>
 </div>
</div>
