<div class="sidebar">
   <div class="container>
      <div class="sidebar-about">
      <h2>
         <a href="{{ site.baseurl }}">
         {{ site.title }}
         </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
   </div>
   <nav id="menu" class="sidebar-nav">
<!-- 	  <label for="tm" id="toggle-menu">Menu <span class="drop-icon">▾</span></label> 
       <input type="checkbox" id="tm">   -->
      <ul class="main-menu clearfix">
         <!-- <li><a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a></li> -->
         
          <li><p style="background-color: #232D4B; color: white; margin-bottom: 0.4rem; margin-top: 2rem;">Menu</p></li> 
         <li>
<!--             <a href="{{ site.dashboardUrl }}"><label for="sm1" class="sidebar-nav-item{% if page.url == site.dashboardUrl %} active{% endif %}" >COVID-19 <span class="drop-icon">▾</span> <span><label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label></span></label> -->
             <a class="sidebar-nav-item{% if page.url == site.dashboardUrl %} active{% endif %}"  href="{{ site.dashboardUrl }}" >COVID-19
 				<span class="drop-icon">▾</span>  
 				<span><label title="Toggle Drop-down" class="drop-icon" for= "sm1">▾</label></span> 
	     </a>
	      <input type="checkbox" id="sm1">								   
            <ul class="sub-menu">
               <li>
                  <a href="#">COVID-19 Surveillance Dashboard 
  		     <span class="drop-icon">▾</span>  
		     <span><label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label></span> 
                  </a>
                 <input type="checkbox" id="sm2">
                        <ul class="sub-menu">
		    <li><a href="http://ncov.bii.virginia.edu/dashboard/">Dashboard</a></li>
                     <li><a href="COVID-19_Surveillance/dashboard">About this dashboard</a></li>
                   </ul>	      
               <li>
                  <a href="#">COVID-19 Cases and Clusters Outside of China Dashboard 
  		     <span class="drop-icon">▾</span>  
		     <span><label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label></span> 
                  </a>
                 <input type="checkbox" id="sm2">
                        <ul class="sub-menu">
                     <li><a href="#">About this dashboard</a></li>
                   </ul>
	       <li><a href="#">COVID-19 Useful Links</a></li>
               <li>
                  <a href="#">Datasets 
  		     <span class="drop-icon">▾</span>  
		     <span><label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label></span> 
                  </a>
                 <input type="checkbox" id="sm2">
                        <ul class="sub-menu">
                     <li><a href="#">Datasets - 1</a></li>
                     <li><a href="#">Datasets - 2</a></li>
                     <li><a href="#">Datasets - 3</a>
                  </ul>
               </li>
               <li><a href="#">News</a></li>
               <li><a href="#">Other Resources</a></li>
            </ul>
         </li>
         <li><a class="sidebar-nav-item{% if page.url == site.aboutUrl %} active{% endif %}" href="{{ site.aboutUrl }}">About</a></li>
      </ul>
   </nav>
   <div class="sidebar-sticky">
      <a href="https://biocomplexity.virginia.edu" target="_blank"><img src="images/bii_logo_v5-01.png" class="logo" style="width: 65%; margin: 0;"></a>
      <p style="font-size: 15px;text-align: left;background-color: black; padding-left: 8px; margin-bottom: 5px;
">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
   </div>
</div>
